body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #1e90ff;
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
}

input[type='number'] {
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0d5aa7;
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}

#winRate {
    font-weight: bold;
    color: #1e90ff;
}
